.question-container {
  display: none;
  &.show-container {
    display: block;
  }
}

.menu-container {
  display: none;
  &.show-container {
    display: block;
  }
}

.question-container-footer {
  display: none;
  &.show-container {
    display: block;
  }
}

.menu-container-footer {
  display: none;
  &.show-container {
    display: block;
  }
}

.title {
  margin-top: 20px;
}

footer {
    clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    &.question-container-footer {
          height: 100px;
    }
    &.menu-container-footer {
          height: 52px;
    }
}

.main-container {
  height: calc(100% - 100px);
}

body {
  min-width: 320px;
}

select {
  margin-bottom: 1rem;
  color: #555;
}

a {
  color: #555555;
}

.button-description {
  margin-top: 48px;
}

.modal--fade, .modal--show {
  transition: opacity .4s;
}

@media (min-height: 260px){
  .question {
    margin: 50px 0;
  }
}

@media (min-width: 440px) {

  .question-button-container {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
  }

  .button-menu {
    margin-right: 0.5rem;
  }

  .button-random {
    margin-left: 0.5rem;
  }

  .menu-button-container {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
  }

  .ln-selection-label {
    display: none;
  }

  .ln-selection {
    margin-right: 0.5rem;
  }

  .button-start {
    margin-left: 0.5rem;
  }
}

  @media screen and (max-width: 30em) {
    .modal--fade .modal-close:before, .modal--show .modal-close:before {
      background: #555555;
    }
    .modal--fade .modal-content, .modal--show .modal-content {
        word-break: normal;
        hyphens: auto;
    }
  }

.modal-close {
  color: #f0f0f0;
}
